/* DivTable.com */
.divTable {
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	display: table-header-group;
}

.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
}

.divTableHeading {
	display: table-header-group;
}

.divTableFoot {
	display: table-footer-group;
}

.divTableBody {
	display: table-row-group;
}

.divTableCell100PercentWidth {
	width: 100%;
}

.divTableCellNoBreak {
	white-space: nowrap;
	
}